*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: rgba(179, 66, 66, 0.479);
  width: 100vw;
}
.list{
  width: 600px;
  padding-top: 40px;
  margin:auto;
  background-color: rgb(254, 185, 185);
  height: 100vh;
}
.heading{
  color: rgb(237, 72, 72);
  margin-bottom: 80px;
  font-size: 60px;
  text-decoration: underline;
}
button{
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  border:none;
  cursor: pointer;
  font-weight: bold;
  color: white;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: hsl(120, 72%, 43%);
}
.add-button:hover{
  background-color: hsl(111, 83%, 27%);
}
.delete-button{
  background-color: hsl(0, 78%, 50%);
}
.delete-button:hover{
  background-color: hsl(0, 78%, 40%);
}
input[type="text"]{
  font-size: 16px;
  padding:6px;
  border: 2px solid hsla(0, 0%, 70%, 0.707);
  width: 400px;
  margin-right: 10px;

}

ol{
  margin-top: 50px;
  list-style: none;
}

li{
font-size: 25px;
font-weight: bold;
padding: 15px;
background-color: hsla(0, 78%, 61%, 0.619);
margin-bottom: 10px;
border:3px solid hsla(0, 52%, 32%, 0.507);
border-radius: 5px;
display: flex;
align-items: center;
}

.text{
  flex: 1;
}

@media (max-width:600px){
  .list{
    width: 100%;
  }
}